<section>
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <div class="col-8 offset-2">
          <h1 class="display-4">Integrate coding practice anywhere.</h1>
          <p class="lead">We've done the work for you. We supply the problems, tests, and authentication.</p>
          <p class=""></p>
          <hr class="my-4">

          <p>Implement high quality coding challenges into your application the easy way.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" target="_blank"
              href="https://jewarner57.github.io/CodingChallengeCompendium/#/" role="button">Read the docs</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>