.navbar {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  background-color: var(--bg-secondary-dark);
  color: white;
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.branding-logo {
  max-height: 70px;
}

.navbrand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.navlink {
  margin: 0 10px;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
}

.navlink:hover {
  opacity: 80%;
}

.button-primary {
  padding: 10px;
  background-color: var(--teal-secondary);
  font-weight: bold;
  border-radius: 2px;
}

.username {
  font-size: 1.3em;
}